body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 20px; /* Мәтіндерді үлкейту */
}

h1 {
    text-align: center;
    color: #cb9cb6;
    margin-top: 20px;
    font-size: 32px; /* Таңбашаны үлкейту */
}

.menu {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px; /* Батырмалар арасында арақашықтық */
}

.main-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 90%;
    max-width: 400px; /* Телефонға бейім */
    border-radius: 15px;
}

button {
    padding: 20px 50px;
    font-size: 22px;
    background-color: #cb9cb6;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 90%; /* Толығымен созылады */
    max-width: 400px;
}

button:hover {
    background-color: #b57aa3;
    transform: scale(1.05);
}

#scoreDisplay {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.task {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-gif {
    margin-top: 10px;
    width: 100px;
}
